.skills-section {
  padding-block: 2rem;
  padding-inline: 2rem;

}

.web-development,.design{
    padding-block: 2rem;
    padding-inline: 2rem;
    margin-top: 2rem;
}
.design{
    width: 100%;
}
.skills-title {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .skills-section {
    padding-block: 2rem;
    padding-inline: 5rem;
    width: 100%;
  }
  .skills-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}


